//- index.jade
extends ./layout.jade

block content
  div.container-fluid(ng-controller='StatsCtrl')

    div.row(ng-cloak)
        div.row

          div.col-xs-6.stat-holder.map-holder
            //- div.col-xs-12
            nodemap#mapHolder(data="map")

          div.col-xs-6
            div.row
              div.col-xs-12.stat-holder
                div.big-info.avgblocktime(class="{{ avgBlockTime | avgTimeClass }}")
                  div.pull-left.icon-full-width
                    i.icon-gas
                  div.big-details-holder
                    span.small-title avg block time
                    span.big-details {{ avgBlockTime | avgTimeFilter }}
                  div.clearfix
              div.col-xs-12.stat-holder.box
                div.active-nodes(class="{{ nodesActive | nodesActiveClass : nodesTotal }}")
                  i.icon-node
                  span.small-title active nodes
                  span.small-value {{nodesActive}}/{{nodesTotal}}
              div.col-xs-12.stat-holder.box
                div.page-latency(class="{{ {active: true, latency: latency} | latencyClass }}")
                  i.icon-clock
                  span.small-title page latency
                  span.small-value {{latency}} ms
              div.col-xs-12.stat-holder.box
                div.uptime(class="{{ upTimeTotal | upTimeClass : true }}")
                  i.icon-bulb
                  span.small-title uptime
                  span.small-value {{ upTimeTotal | upTimeFilter }}

      //- div.clearfix

    div.row(ng-cloak, style="padding-top: 10px")
      table.table.table-striped
        thead
          tr.text-info
            th.th-nodename
              i.icon-node(data-toggle="tooltip", data-placement="top", title="Node name", ng-click="orderTable(['info.name'], false)")
             th
              i.icon-network(data-toggle="tooltip", data-placement="top", title="Location")
            th.th-nodename
              i.icon-node(data-toggle="tooltip", data-placement="top", title="Send packet", ng-click="orderTable(['info.name'], false)")
            th.th-latency
              i.icon-clock(data-toggle="tooltip", data-placement="top", title="Node latency", ng-click="orderTable(['stats.latency'], false)")
             th
              i.icon-group(data-toggle="tooltip", data-placement="top", title="Peers", ng-click="orderTable(['-stats.peers'], false)")
            th
              i.icon-bulb(data-toggle="tooltip", data-placement="top", title="Up-time", ng-click="orderTable(['-stats.uptime'], false)")
        tbody(ng-cloak)
          tr(ng-repeat='node in nodes | orderBy:predicate track by node.id', class="{{ node.stats | mainClass : bestBlock }}", id="node_{{node.id}}")
            td.nodeInfo(rel="{{node.id}}")
              span.small(data-placement="top", data-html="true", data-original-title="{{node | geoTooltip}}") {{node.info.name}}
            td
              div.small(ng-bind-html="node.info.location | nodeVersion")
            td
              button(ng-click="sendPacket(node.id)") Send packet
            td(class="{{ node.readable.latencyClass }}")
              span.small {{ node.readable.latency }}
            td(class="{{ node.stats.peers | peerClass : node.stats.active }}", style="padding-left: 11px;") {{node.stats.peers}}
            td(class="{{ node.stats.uptime | upTimeClass : node.stats.active }}") {{ node.stats.uptime | upTimeFilter }}
