//- index.jade
extends ./layout.jade

block content
  div.container-fluid(ng-controller='StatsCtrl')

    div.row(ng-cloak)
      div.col-xs-6.stat-holder
        div.big-info.difficulty.text-orange
          div.pull-left.icon-full-width
            i.icon-hashrate
          div.big-details-holder
            span.small-title marlin coverage
            span.big-details {{nodesCoveredByMarlin}}/{{nodesTotal}}  ({{marlinCovPcent}} %)
          div.clearfix

      div.col-xs-6.stat-holder
        div.big-info.blocktime.text-info
          div.pull-left.icon-full-width
            i.icon-time
          div.big-details-holder
            span.small-title gossip coverage
            span.big-details {{nodesCoveredByGossip}}/{{nodesTotal}}  ({{gossipCovPcent}} %)
          div.clearfix

    div.clearfix


    div.row(ng-cloak)
        div.row

          div.col-xs-6.stat-holder.map-holder
            //- div.col-xs-12
            nodemap#mapHolder(data="map")

          div.col-xs-6
            div.row
              div.col-xs-12.stat-holder.box
                div.active-nodes(class="text-success")
                  i.icon-node
                  span.small-title active nodes
                  span.small-value {{nodesActive}}/{{nodesTotal}}
              div.col-xs-12.stat-holder.box
                div.page-latency(class="{{ {active: true, latency: latency} | latencyClass }}")
                  span.small-title
                  span.small-value
              div.col-xs-12.stat-holder.box
                div.uptime(class="text-danger")
                  i.icon-bulb
                  span.small-title Start Node
              div.col-xs-12.stat-holder.box
                div.uptime(class="text-orange")
                  i.icon-bulb
                  span.small-title < 10 ms Latency
              div.col-xs-12.stat-holder.box
                div.uptime(class="text-warning")
                  i.icon-bulb
                  span.small-title < 10 sec
              div.col-xs-12.stat-holder.box
                div.uptime(class="text-success")
                  i.icon-bulb
                  span.small-title > 10 sec
              div.col-xs-12.stat-holder.box
                div.uptime(class="text-info")
                  i.icon-bulb
                  span.small-title Not yet contacted

      //- div.clearfix

    div.row(ng-cloak, style="padding-top: 10px")
      table.table.table-striped
        thead
          tr.text-info
            th.th-nodename
              span.small(ng-click="orderTable(['info.name'], false)") Name
            th.th-location
              span.small(ng-click="orderTable(['info.location'], false)") Location
            th
              span.small() Send
            th
              span.small(ng-click="orderTable(['stats.latency'], false)") Gossip Latency
            th
              span.small(ng-click="orderTable(['stats.marlinLatency'], false)") Marlin Latency
        tbody(ng-cloak)
          tr(ng-repeat='node in nodes | orderBy:predicate track by node.id', class="{{ node.readable.latencyClass }}", id="node_{{node.id}}")
            td.nodeInfo(rel="{{node.id}}")
              span.small(data-placement="top", data-html="true", data-original-title="{{node | geoTooltip}}") {{node.info.name}}
            td
              div.small(ng-bind-html="node.info.location | nodeVersion")
            td(class="text-danger")
              button(ng-click="sendPacket(node.id)", class="{{ startIndex | sendPacketClass}}") Send packet
            td(class="{{ node.readable.latencyClass }}")
              span.small {{ node.readable.latency }}
            td(class="{{ node.readable.marlinLatencyClass }}")
              span.small {{ node.readable.marlinLatency }}
